{% extends 'flotas/base.html' %}

{% block title %}Panel de Administración{% endblock %}

{% block content_admin %}
<div class="card shadow p-4">
    <h1 class="mb-3">Bienvenido, Administrador</h1>
    <p class="text-muted">Desde este panel puedes gestionar todo el sistema.</p>
    <ul class="list-group list-group-flush mt-4">
        <li class="list-group-item"><a href="{% url 'listar_vehiculos' %}">Gestión de Vehículos</a></li>
        <li class="list-group-item"><a href="{% url 'listar_conductores' %}">Gestión de Conductores</a></li>
        <li class="list-group-item"><a href="{% url 'listar_mantenimientos' %}">Revisión de Mantenimientos</a></li>
        <li class="list-group-item"><a href="{% url 'listar_alertas' %}">Alertas del Sistema</a></li>
    </ul>
</div>
{% endblock %}
